@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-image: linear-gradient(to bottom, #ffffff, #ffd6b7, #ffffff);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
	width: 10px;
	height: 10px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: content-box currentColor;
	border: 2px solid transparent;
	color: #dadce0;
}

:hover::-webkit-scrollbar-thumb {
	color: #80868b;
}
